/.cursor
*.exe
scripts/common
scripts/core_lua
scripts/core_universal_kicks
license
assets
/scripts_data
wow_settings.dat
user
scripts/ext_0_plugin_universal_affix
scripts/ext_0_plugin_universal_dispels
scripts/ext_0_plugin_universal_items
scripts/ext_0_plugin_universal_racials
scripts/ext_0_plugin_universal_reflects
scripts/core_universal_utility
/scripts_log
*.zip
/external
